/* Shared Items */
body{
    background-color: rgba(77, 71, 255, 0.062);
}
.raleway-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.banner-img{
    
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    height: 698px;
    width: 1440px;
    margin: 0 auto;
}

/* Nav Bar Style */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    font-size: 34px;
    font-weight: 900px;
    color: #4E47FF;

}
.button-style{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #4E47FF;
}

/* Banner Style */
.banner{
    text-align: center;
}
.banner-content h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.banner-content{
    padding: 50px 267px 237px ;
}

/* Main Section Style */
main{
    width: 1140px;
    margin: 50px auto;
    
}

.action{
    display: flex;
    gap: 220px;
}
.action-img{
    border-radius: 48px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-description{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}

/* Productive user Style */
.user{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-top: 116px;
    
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    padding: 50px 0px 0 0;
    
}
.users{
    display: flex;
    justify-content: space-around;
    padding:0 14.5px 50px;
    margin: 0;
}
.users-percent{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}
.users-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

/* User Review*/

.user-comment{
    margin-top: 116px;
    
}
.user-all-review{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.review-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
.user-comment-content{
    width: 366.67px;
    height: 243px;
    background-color: white;
    border: 1px solid  rgba(0, 0, 0, 0.08);
    border-radius: 14px;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
    
}
.comment-title{
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
    margin: 0; 
}
.user-description{
    font-size: 16px;
    color: #1E1E1E;
}
.user-profile{
    display: flex;
    align-items: center;
    gap: 12px;
}
.user-pp{
    border-radius: 50%;
    overflow: hidden;
}
.user-name{
    line-height: 0%;

}
.user-name h4{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
.user-name p{
    font-size: 16px;
    color: #B3B3B3;
}

/* Webflow Design */

.webflow{
    text-align: center;
    margin-top: 116px;
    background-color: white;
    border-radius: 14px;
    padding: 71px 0;
}
.webflow-title{
    font-size: 50px;
    font-weight: bold;
    color: 000000;
    margin: 0;
    
}
.webflow-description{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);

}
.webflow-img{
    border-radius: 48px;
    margin: 20px 0;
}

/* News Later Design */
.news-content{
    display: flex;
    margin-top: 116px;
    gap: 115px;
    align-items: center;
    
   
}
.news-title{
    font-size: 50px;
    font-weight: bold;
    color: 000000;
    width: 528px;
    
}

.input-message input[type="email"], .input-message input[type="text"], .input-message textarea{
    font-size: 20px; 
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    display: block;
    width: 497px;
    border: 1px solid #D6DDED;
    padding: 20px 0 20px 32px;
    margin-top: 10px;
    margin-bottom: 0;


    
}
.form{
    padding: 71px 0;
}
.button-last{
    margin-top: 10px;
    
}

/* Footer Design  */

.footer-content{
    padding: 104px 0 ;
    background-color: white;
    width: 1440px;
    margin: 116px auto;
    /* padding: 104px 140px 147px; */
}
.footer-title{
    font-size: 50px;
    font-weight: 900;
    color: #4E47FF;
    text-align: center;
   
}
.footer-description{
    font-size: 16px;
    color: #8987A1;
    text-align: center;
    padding: 0 454px;

}
.footer-nav ul{
    display: flex;
    gap: 48px;
    list-style: none;
    text-decoration: none;
    justify-content: center;
}
.footer-nav ul a{
    text-decoration: none;
    color: #8987A1;
}

